DATA STRUCTURE

1. What are data structures, and why are they important?
  - Data structures are specialized ways to organize and store data in a computer so that it can be accessed and modified efficiently.
  They are important because of their efficiency, optimization, Scalability, Flexibility.

2. Explain the difference between mutable and immutable data types with examples.
  - Mutable Data Types
   mutable data type allows modification of its state or content after it is created. This means that the object itself can be changed, and the changes will be reflected wherever that object is referenced.
  - Immutable Data Types
   immutable data type, once created, cannot be changed. Any operation that attempts to modify an immutable object will result in the creation of a new object rather than altering the original one.

In [ ]:
#example for mutable data type
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

[10, 2, 3]

In [ ]:
#example for immutable data type
my_tuple = (1, 2, 3)
my_tuple[0]=4  #gives error since tuples are immutable

3. What are the main differences between lists and tuples in Python?

  Lists are:
   - Mutable (can change after creation)
   - Created with []
   - Slower due to mutability
   - Higher memory usage
   
  Tuples are:
   - Immutable (cannot change after      creation)
   - Created with ()
   - Faster due to immutability
   - Lower memory usage

4. Describe how dictionaries store data.
   - dictionaries are a type of collection that store data in the form of key-value pairs.

In [ ]:
#an example to show how the dictionaries stores data
my_dict = {"apple": 1, "banana": 2, "cherry": 3}

5. Why might you use a set instead of a list in Python?
   
   - Uniqueness: A set automatically removes duplicate values, ensuring that all elements are unique.  

   - Faster membership tests: Checking if an item is present in a set is faster than in a list because sets use a hashing mechanism.

   - Mathematical set operations: Sets provide built-in support for operations like union, intersection, and difference, which are common in set theory.

6. What is a string in Python, and how is it different from a list?
   - A string in Python is a sequence of characters enclosed in quotes (' ', " ", or ''' '''), representing textual data. Strings are immutable.Strings can only contain characters.
   - A list, on the other hand, is an ordered collection of items that can contain elements of different data types. Lists are mutable. Lists can contain elements of any type, including strings, numbers, other lists, etc.

7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity by being immutable. Once a tuple is created, its elements cannot be changed, removed, or added to. This ensures that the data inside the tuple remains constant throughout the program, protecting it from accidental modification.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores key-value pairs using a hash function to compute an index (or hash) where the data will be stored. Dictionaries in Python are implemented using hash tables. Each key in a dictionary is hashed, and the resulting hash determines the position where the key-value pair is stored, providing efficient lookups, insertions, and deletions.

9. Can lists contain different data types in Python?
   - Yes, lists in Python can contain elements of different data types. For example, a list can hold integers, strings, other lists, tuples, or even dictionaries. A code example is:

In [ ]:
my_list = [1, "hello", 3.14, [1, 2], {"key": "value"}]

10. Explain why strings are immutable in Python.
  
  Strings are immutable in Python to provide several benefits:
  - Performance: Immutable objects can be stored more efficiently, and they are easier to optimize, especially in multi-threaded programs.
  - Consistency: Immutability ensures that strings cannot be changed accidentally, preventing bugs related to unintentional modification of string values.
  - Hashing: Since strings are often used as keys in dictionaries, their immutability ensures that their hash values remain constant.



11. What advantages do dictionaries offer over lists for certain tasks?
Dictionaries offer advantages over lists when:

  - Fast lookups: You can quickly retrieve values based on unique keys, making dictionaries ideal for tasks that involve searching or mapping data.
  - Mapping data: Dictionaries store data as key-value pairs, which is useful when you need to associate one piece of data (key) with another (value), such as storing student names and their grades.


12. Describe a scenario where using a tuple would be preferable over a list.

  - The data should remain constant and not be modified. For example, storing the coordinates of a point in space (x, y, z) where you don't want to accidentally change the values.
   Performance: Tuples are generally faster than lists for iteration because of their immutability, so they are useful for constant data that won’t change over time.

   13. How do sets handle duplicate values in Python?
   - Sets automatically remove duplicates. If you try to add a duplicate value to a set, it will not be added. For example:

In [ ]:
my_set = {1, 2, 3, 1}
print(my_set)

{1, 2, 3}

14. How does the "in" keyword work differently for lists and dictionaries?
   - For lists, the "in" keyword checks if a value is present in the list.
   - For dictionaries, the "in" keyword checks if a key is present in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.
  - No, you cannot modify the elements of a tuple because tuples are immutable. This immutability is a fundamental property of tuples that ensures their data remains constant throughout the program.

16. What is a nested dictionary, and give an example of its use case?
   - A nested dictionary is a dictionary that contains another dictionary as a value. This allows you to store hierarchical or multi-level data.

Example:

In [ ]:
students = {
    "John": {"age": 20, "grade": "A"},
    "Alice": {"age": 22, "grade": "B"}
}
print(students["John"]["age"])

20

17. Describe the time complexity of accessing elements in a dictionary.
   - Accessing elements in a dictionary typically has a time complexity of O(1) (constant time) on average. This is because dictionaries use hash tables, allowing direct access to values via their keys.

18. In what situations are lists preferred over dictionaries?
   - Lists are preferred over dictionaries when you need an ordered collection of items (since lists maintain order).
The data doesn’t require key-value associations.
You are performing tasks like sorting, appending, or iterating over sequences of items where indexing by position is more useful.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are unordered because, prior to Python 3.7, the order of key-value pairs in a dictionary was not guaranteed. However, starting with Python 3.7, dictionaries maintain insertion order. Even so, since dictionaries are designed for fast lookups by key, the order doesn’t affect how you retrieve data. You access data by its key, not by its position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - In a list, data is retrieved using an index (e.g., my_list[0]), which corresponds to the position of the item in the sequence.
In a dictionary, data is retrieved using a key (e.g., my_dict["key"]), where the key maps to a specific value. This allows for more flexible and direct access to values based on unique identifiers.

PRACTICAL QUESTIONS

1. Create a string with your name and print it:

In [ ]:
my_name = "John"
print(my_name)

John

2. Find the length of the string "Hello World":

In [ ]:
string = "Hello World"
length = len(string)
print(length)

11

3. Slice the first 3 characters from the string "Python Programming":

In [ ]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

4. Convert the string "hello" to uppercase:

In [ ]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5. Replace the word "apple" with "orange" in the string "I like apple":

In [ ]:
string = "I like apple"
replaced_string = string.replace("apple", "orange")
print(replaced_string)

I like orange

6. Create a list with numbers 1 to 5 and print it:

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

7. Append the number 10 to the list [1, 2, 3, 4]:

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Remove the number 3 from the list [1, 2, 3, 4, 5]:

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Access the second element in the list ['a', 'b', 'c', 'd']:

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. Reverse the list [10, 20, 30, 40, 50]:

In [ ]:
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

11. Create a tuple with the elements 10, 20, 30 and print it:

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12. Access the first element of the tuple ('apple', 'banana', 'cherry'):

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

13. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2):

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit'):

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana'):

In [ ]:
my_tuple = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in my_tuple
print(is_banana_in_tuple)

True

16. Create a set with the elements 1, 2, 3, 4, 5 and print it:

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17. Add the element 6 to the set {1, 2, 3, 4}:

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Create a tuple with the elements 10, 20, 30 and print it:

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19. Access the first element of the tuple ('apple', 'banana', 'cherry'):

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

20. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2):

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

21. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit'):

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

22. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana'):

In [ ]:
my_tuple = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in my_tuple
print(is_banana_in_tuple)

True

23. Create a set with the elements 1, 2, 3, 4, 5 and print it:

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

24. Add the element 6 to the set {1, 2, 3, 4}:

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}